<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
</p>

<p>
  <b>Title:</b>
  <%= @answer.title %>
</p>

<p>
  <b>Text:</b>
  <%= @answer.text %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
